<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset email</title>
</head>
<body>
    <p>Hola,</p>
    <p>Recibimos una solicitud para restablecer tu contraseña. Haz clic en el siguiente enlace para hacerlo:</p>
    <p>
        <a href="{{ protocol }}://{{ domain }}{% url 'authentification:password_reset_confirm' uidb64=uid token=token %}">
            Restablecer mi contraseña
        </a>
    </p>
    <p>Si no solicitaste este cambio, ignora este correo.</p>
</body>
</html>

