<!-- authentification/templates/authentification/password_reset.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer contraseña</title>
</head>
<body>
    <a href="{% url 'authentification:password_reset' %}">Restablecer contraseña</a>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar correo de restablecimiento</button>
    </form>
</body>
</html>



